# Ignore VSCode workspace settings
.vscode/

# Ignore build folders
dist/
build/

# Ignore compiled files (like .dll, .exe for C++ projects, or .pyc for Python projects)
*.dll
*.exe
*.pyc

# Ignore environment variable files
.env